<div class="second-from-window">
    <div class="second-form">
        <div>
            <img class="aii-logo" src="../../../assets/Incubator.svg">
        </div>
        <div>
            <h1 class="heading-first">Contact Details</h1>
        </div>
    </div>
        <form class="form-field">
            <div class="form-body">
                <div class="first-row">
                    <div class="flexer">
                    <label class="label-name">FIRST NAME<span class="required">*</span></label>
                    <input class="input-class" [ngStyle]="{'width':'100%'}" mat-input placeholder="" value="">
                    </div>
                    <div class="flexer">
                    <label class="label-name">LAST NAME<span class="required">*</span></label>
                    <input class="input-class" [ngStyle]="{'width':'100%'}" mat-input placeholder="" value="">
                    </div>
                </div>
                <div class="second-row">
                    <div class="flexer">
                        <label class="label-name">EMAIL<span class="required">*</span></label>
                        <input class="input-class" [ngStyle]="{'width':'100%'}" mat-input placeholder="" value="">
                    </div>
                    <div class="flexer">
                            <label class="label-name">MOBILE<span class="required">*</span></label>
                            <input class="input-class" [ngStyle]="{'width':'100%'}" mat-input placeholder="" value="">
                    </div>
                </div>
                <div class="third-row">
                    <div class="flexer">
                        <div class="industry">
                            <label class="label-name">STATE<span class="required">*</span></label>
                            <select name="industry" id="cars">
                                <option value=""></option>
                                <option value="">Andhra Pradesh</option>
                                <option value="">Delhi</option>
                                <option value="">Maharashtra</option>
                                <option value="">Jammu & Kashmir</option>
                                <option value="">West Bengal</option>
                                <option value="">Ma</option>
                            </select>
                        </div>
                    </div>
                    <div class="flexer">
                        <div class="industry">
                            <label class="label-name">CITY<span class="required">*</span></label>
                                <select name="industry" id="cars">
                                    <option value=""></option>
                                    <option value="">AI</option>
                                    <option value="">Chemicals</option>
                                    <option value="">Aeronautics</option>
                                </select>
                        </div>
                    </div>
                </div>
                <div class="fourth-row">
                    <div class="flexer">
                        <label class="label-name">WEBSITE<span class="required">*</span></label>
                        <input class="input-class" [ngStyle]="{'width':'100%'}" mat-input placeholder="" value="">
                    </div>
                    <div class="flexer">
                        <label class="label-name">MOBILE APP LINK<span class="required">*</span></label>
                        <input class="input-class" [ngStyle]="{'width':'100%'}" mat-input placeholder="" value="">
                    </div>
                </div>

                </div>
                <div class="footer"><label class="label-name">PITCH DECK <span class="required">*</span></label>
                    <div class="more-info">
                        <div class="area">
                            <div id="dropZone">+</div>
                        </div>
                        <div class="more-info-pitch">
                        <a routerLink="#">
                        <img src="../../../assets/information-2.svg" class="more-info-pic">             
                        <span class="pitch-sample">Wondering about what details to mention in the Pitch Deck! Take a look at the <u>Sample Pitch Deck</u></span>
                        </a>
                        </div>
                    </div>
             </div>
            <div class="footer">
                <a routerLink="/second"> <button class="submit">SUBMIT</button></a>
            </div>
        </form>
</div>